.contianer{
    margin-top: 50px;
    margin-left: 300px;
    width: 600px;
    height: 400px;
    box-shadow:  0px 0px 3px 3px black;
    padding: 25px;
}

.contianer input{
    margin-top: 20px;
    font-size: 45px;
    margin-left: 20px;
    box-shadow:0px 0px 1px 1px black;
}
.contianer button{
    margin-top: 10px;
    margin-left: 250px;
    font-size: 30px;
    color: blueviolet;
    background-color: aquamarine;
}
.contianer button :hover{
    transition: 2s;
    background-color: brown;
}

.addeke{
    margin-top: 20px;
    font-size: 45px;
    margin-left: 20px;
    box-shadow:0px 0px 1px 1px black;
}
